<!DOCTYPE html>
<html>
    <head>
        <title>perform_test</title>
        <meta charset="UTF-8">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <meta name="viewport" content="width=device-width">
        <style type="text/css"></style>
        <link rel="stylesheet" type="text/css" href="./test/main.css">
    </head>
    <body>
        <div id="for_inst">
             <div class="for_div" :for="el in arr">
               <label :text="el"></label>
               <div class="for_div3" :for="el in arr2">
                   <span>
                      <b :text="el"></b>
                   </span>
               </div>
            </div>
            <div class="for_div2" :for="el in arr2">
                <span>
                   <label :text="el"></label>
                </span>
            </div>
             <ul class="for_ul">
                <li :for="el in arr2">
                     <label :text="el"></label>
                </li>
               <li :for="el in arr">
                    <label :text="el"></label>
               </li>
            </ul>
            <div class="for_div2" :for="el in arr2">
               <label>{{el}}xxx</label>
                <ul class="for_ul">
                   <li :for="el in arr2">
                        <label :text="el"></label>
                        <ul class="for_ul3" :for="el in arr2">
                            <li>
                               <b :text="el"></b>
                            </li>
                        </div>
                   </li>
                  <li :for="el in arr">
                       <label :text="el"></label>
                  </li>
               </ul>
            </div>
             <div class="for_div2" :for="el in arr">
               <label>{{el}}xxx</label>
            </div>
        </div>
        <div id="tpl2">
            
        </div>
        <div id="tpl3">
        <!--
            <input type="text" :model="ddd" :on="keyup:getValue()">
            {{
            ddd
            +
            1
            }}
            {{
            ddd
            +
            11
            }}
            {{
            ddd
            +
            111
            }}
            {{
            ddd
            +
            1111
            }}
        -->
            <div class="lvalert_show" 
                    lv-show="popHotelNum" 
                    lv-on="click: closePopNum(false)"
                    lv-class="{'aa' : popHotelNum, 'bb cc' : !popHotelNum, 'dd ee ffdd' : popHotelNum}">
                <div class="lvalert_container">
                    <p class="title">修改间数</p>
                    <div>
                        <ul>
                            <b>{{myName.toUpperCase()}}</b>
                            <li lv-for="nn in selectHouseNum trackBy $outerIndex">
                                <h1 lv-for="aa in nn.num trackBy $middleIndex" 
                                    lv-text="aa.aa"
                                    lv-on="click:showOne()"></h1>
                                <div lv-for="aa in nn.num trackBy $middleIndex">
                                    <label lv-text="'index : ' + $middleIndex + '-outerIndex : ' + $outerIndex" 
                                            lv-on="{'click' : show(aa.aa + 100), mousemove : move(aa.aa + 200)}"></label>
                                </div>
                                <b lv-for="aa in nn.num">{{bigger(aa.aa)}}</b>
                            </li>
                            <li lv-text="cityName"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="tpl4">
            <input type="text" v-model="ddd">
            {{ddd}}
            <div class="lvalert_show" v-show="popHotelNum" v-on:click="closePopNum(false)">
                <div class="lvalert_container">
                    <p class="title">修改间数</p>
                    <div>
                        <ul>
                            <b>{{myName.toUpperCase()}}</b>
                            <li v-for="(nn, $outerIndex) in selectHouseNum">
                                <h1 v-for="(aa, $middleIndex) in nn.num" 
                                    v-on:click="showOne()">{{aa.aa}}</h1>
                                <div v-for="(aa, $middleIndex) in nn.num">
                                    <label v-on:click="show(aa.aa + 100)"
                                            v-on:mousemove="move(aa.aa + 200)">index : {{$middleIndex}}-outerIndex : {{$outerIndex}}</label>
                                </div>
                                <b v-for="aa in nn.num">{{bigger(aa.aa)}}</b>
                            </li>
                            <li>{{cityName}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script src="./test/lodash.js"></script>
        <script src="./test/platform.js"></script>
        <script src="./test/benchmark.js"></script>
        <script src="./test/vue-2.0.3.js"></script>
        <script src="./resources/main-test2.js"></script>
        <script src="./test/test.js"></script>
        <script type="text/javascript">
            var jsInst = JSpring([function ($scope, $, module) {
                setTimeout(function () {
                    $scope.arr.$set(1, 'bbb');
                    $scope.arr2.$set(1, 'BBB');
                    setTimeout(function () {
                        $scope.arr = ['aaa', 'bbbb'];
                        $scope.arr2 = ['AAA', 'BBBB', 'CCC'];
                        setTimeout(function () {
                            $scope.arr = ['a'];
                            $scope.arr2 = ['A', 'BB'];
                            setTimeout(function () {
                                $scope.arr = ['a', 'b', 'c', 'd'];
                                $scope.arr2 = ['A', 'B', 'C'];
                            }, 2000);
                        }, 2000);
                    }, 2000);
                }, 2000);
            }, {
                    arr : ['aa', 'bb', 'cc'],
                    arr2 : ['AA', 'BB']
            }, '#for_inst']);
        </script>
        <script type="text/javascript">
        </script>
    </body>
</html>
