.special-title {
	padding-left: 10px;
}
.all-area {
	line-height: 30px;
	width: 36%;
	color: #D30775;
	font-size: 14px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #D30775;
	border-radius: 5px;
	margin: 0 auto;
	display:block;
}
.all-area-p {
	width: 100%;
	display: block;
}
.special-list {
	width: 100%;
	overflow: hidden;
	display: block;
	padding-left: 0;
}
.h-title {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}
.special-item {
	display: block;
	width: 100%;
    	padding: 10px 10px 10px 15px;
    	overflow: hidden;
    	border-bottom: 1px solid #ddd;
}
.special-item-left {
	width: 105px;
	float: left;
}
.special-item-left img{
	width: 105px;
}
.special-item-right {
	position: absolute;
	width: 100%;
	padding-left: 125px;
	padding-right: 10px;
	display: block;
	left: 0;
}
.special-item-right p {
 	padding-left: 10px;
 }
.special-desc {
 	color: #aaa;
}
.special-desc-price {
 	float: right;
}
 .special-desc i {
 	color: #d30775;
 }
 .special-desc i:nth-child(2) {
 	font-size: 21px;
 }