body * {
    box-sizing: border-box;
    font-family: Microsoft yahei,Lucida Grande,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Hiragino Sans GB W3,WenQuanYi Micro Hei,sans-serif;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
h1,h2,h3 {
	font-weight: normal;
	margin: 0;
}
li {
	list-style: none;
}
i {
	font-style: normal;
}
ul {
	padding: 0;
	margin: 0;
}
body, input {
    color: #000;
    margin: 0;
    font-size: 14px;
}
p {
	margin: 0;
}
body img {
    -webkit-transition:.5s;
    transition:.5s;
}
input {
    -webkit-appearance: none;
    outline: none;
}
input {
    border: none;
    width: 60%;
    height: 25px;
}
a, button, div, input, li, optgroup, select, span, textarea, ul {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: transparent;
}
.f12{font-size: 12px;}
header .title {
    line-height: 44px;
    text-align: center;
    font-size: 19px;
    margin: 0;
}
header {
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fafafa;
    z-index: 80;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.visa-home {
	display: block;
	opacity: 0;
}
#mainPage {
	overflow-x: hidden;
	margin-top: 45px;
}
 .process{
 	overflow: hidden;
 }
 .process li,
 .arrow03 {
 	width: 25%;
 	float: left;
 	font-size: 12px;
 	box-sizing: border-box;
 	position: relative;
 	padding: 23px 0 30px;
 }
.arrow03 span,
.process span {
	display: block;
	width: 100%;
	float: left;
	text-align: center;
}
.process span img,
.arrow03 span img{
	width: 50%;
	margin:auto;
	display: block;
}
.arrow03 :after {
    content: "";
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    background-repeat: no-repeat;
    background-image: url(../../images/flow_arrow_03.png);
    background-size: 1.4rem;
    right: -11%;
    top: 50%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}
